extends _base

block content
  h1 Create Account
  form(class="well")
    label Email
    input(type="text", placeholder="How do we get ahold of you?")

    label Password
    input(type="text", placeholder="A secret only you know")

    label Password
    input(type="text", placeholder="Confirm your secret")

    hr

    button.btn.btn-success(type="submit") Submit

